@model PagedList.Core.IPagedList<HARMIC.Models.Accomodation>
@using PagedList.Core.Mvc
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Hotel List" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Hotel List : page @CurrentPage</span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminAccomodations" asp-action="Create"><i class="anticon anticon-plus-circle m-r-S"></i><span>Add Accomodation</span></a>
            </div>


            <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtCategoryId" name="txtCategoryId" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                            <option selected>Select Catergory</option>
                           @* <option value="all">Select All</option>*@
                        </select>
                    </div>                  
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Information</th>
                        <th>Category</th>
                        <th>Address </th>
                        @*<th>Description</th>*@

                        <th>Rank</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.AccomodationId
                                </td>
                                <td>
                                    <p>@item.AccomodationName</p>
                                    <p>@item.PhoneNumber</p>
                                </td>
                                <td>
                                    @item.Category.CategoryName
                                </td>
                                <td>
                                    <p>@item.Address</p>
                                    <p>@item.City</p>
                                </td>
                                @*<td>@item.Description</td>*@
                                <td>@item.Rate</td>
                                <td>
                                    <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminAccomodations" asp-action="Details" asp-route-id="@item.AccomodationId">View</a>
                                    <a class="btn btn-warning m-r-5" asp-area="Admin" asp-controller="AdminAccomodations" asp-action="Edit" asp-route-id="@item.AccomodationId">Edit</a>
                                    <a class="btn btn-danger m-r-5" asp-area="Admin" asp-controller="AdminAccomodations" asp-action="Delete" asp-route-id="@item.AccomodationId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div arial-label="Page navigation example">
                <ul class="pagination">
                    <pager class="paper-container" list="@Model" asp-area="Admin" asp-controller="AdminAccomodation" asp-route-CategoryId="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function (){
            jQuery("#txtCategoryId").change(function (){
                var categoryId = jQuery(this).children(":selected").attr("value");
                categoryId = parseFloat(categoryId);
                $('#txtCategoryId option')
                    .removeAttr('selected');
                $("#txtCategoryId > [value="+categoryId+"]").attr("selected","true");
                $.ajax({
                    url: '/Admin/AdminAccomodations/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CategoryId: categoryId
                    },
                    async: true,
                    success: function (results){
                        if(results.status == "success"){
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr){
                        alert('error');
                    }
                });
            });
        });
    </script>
}