@model PagedList.Core.IPagedList<HARMIC.Models.Customer>
@using PagedList.Core.Mvc
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "List of customers" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">List of customers
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminCustomers" asp-action="Create"><i class="anticon anticon-plus-circle m-r-S"></i><span>Create new</span></a>
            </div>
            <div class="col-lg-12">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Catergory</option>
                            <option value="all">All</option>
                            <option value="homeDeco">Home Decoration</option>
                            <option value="eletronic">Eletronic</option>
                            <option value="jewellery">Jewellery</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Status</option>
                            <option value="all">All</option>
                            <option value="inStock">In Stock </option>
                            <option value="outOfStock">Out of Stock</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Information of Customer</th>
                        <th>Nationality</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (@Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerId                                    
                                </td>
                                <td>
                                    <p>@item.Surname +" "+ @item.Lastname</p>
                                    <p>@item.PhoneNumber</p>
                                    <p>@item.Email</p>
                                    <p>@item.Gender</p>
                                </td>  
                                <td>@item.Nationality</td>   
                                <td>
                                    <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                                    <a class="btn btn-warning m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                    <a class="btn btn-danger m-r-5" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div arial-label="Page navigation example">
                <ul class="pagination">
                    <div class="paper-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>